.editSection {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 80px;
  height: 40px;
  margin: 20px 10px;
}

.label {
  width: 80px;
}

.title {
  font-size: 24px;
  margin: 0px;
  padding-top: 30px;
}

.buttonMore {
  width: 180px;
  height: 50px;
  background-color: lightblue;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  transition: all 250ms;
  margin: 0px;
  margin-right: 10px;
}

.buttonMore:hover,
.buttonMore:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttonMore:hover {
  transform: translateY(-1px);
}

.buttonMore:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.buttonRemove {
  width: 50px;
  height: 50px;
  background-color: rgb(252, 199, 199);
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  transition: all 250ms;
  margin-bottom: 15px;
}

.buttonRemove:hover,
.buttonRemove:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttonRemove:hover {
  transform: translateY(-1px);
}

.buttonRemove:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.buttonEdit {
  width: 50px;
  height: 50px;
  background-color: rgb(252, 248, 199);
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  transition: all 250ms;
  margin-right: 10px;
}

.buttonEdit:hover,
.buttonEdit:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttonEdit:hover {
  transform: translateY(-1px);
}

.buttonEdit:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}



.comments_list {
  padding: 0px;
  min-height: 80px;
  max-height: 150px;
  border: 1px solid gray;
  margin-top: 20px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

}

.comments_item {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.comments_item:last-child {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.list {
  padding-left: 10px;
  margin: 0px;
  
}

.comments {
  padding: 0px;
  margin-bottom: 20px;  
}

.card{
  list-style: none;
  padding: 0px;
  margin: 0px;
  background-color: rgb(248, 248, 248);}

.image {
max-width: calc(100% - 10px);
border: 1px solid rgb(192, 192, 192);
}



.feedback {
  width: 100%;
  height: 50px; 
  background-color: rgb(175, 255, 195);
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  transition: all 250ms;
  margin-right: 10px;
  margin-bottom: 20px;

}

.feedback:hover,
.feedback:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  font-weight: 700;

}

.feedback:hover {
  transform: translateY(-1px);
}

.feedback:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.crash {
   width: 100%;
  height: 50px; 
  background-color: rgb(218, 218, 218);
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: rgb(73, 73, 73);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  transition: all 250ms;
  margin-right: 10px;
  margin-bottom: 20px;

}


.close {
   width: 100%;
  height: 50px; 
  background-color: rgb(255, 175, 175);
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  transition: all 250ms;
  margin-right: 10px;
  margin-bottom: 10px;
}

.close:hover,
.close:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  font-weight: 700;
}

.close:hover {
  transform: translateY(-1px);
}

.close:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.formComment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formItems {
  margin-bottom: 10px;

}

.inputSearch {
  width: 500px;
  margin-top: 25px;
  opacity: 50%;
}