.editSection {
  display: flex;
  flex-direction: column;
}

.buttonAdd {
  width: 50px;
  height: 50px;
  background-color: rgb(212, 255, 206);
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  transition: all 250ms;
  margin-right: 20px;
}

.buttonAdd:hover,
.buttonAdd:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttonAdd:hover {
  transform: translateY(-1px);
}

.buttonAdd:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}




.buttonAddSome {
  width: 50px;
  height: 50px;
  background-color: rgb(184, 201, 255);
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  transition: all 250ms;
  margin-right: 20px;
}

.buttonAddSome:hover,
.buttonAddSome:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.buttonAddSome:hover {
  transform: translateY(-1px);
}

.buttonAddSome:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}



.label {
  width: 100px;
}

.btnGroup {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


.btnDefault {
  width: 120px;
  height: 30px;
  background-color: transparent;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  transition: all 250ms;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.btnDefault:hover,
.btnDefault:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.btnDefault:hover {
  transform: translateY(-1px);
}

.btnDefault:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.warning_message {
  color: #ff6b09;
  font-size: 16px;
  margin: 10px 0px;
}

.labelInput {
  margin: 5px 0px;
}

.title {
display: flex;
}


@media screen and (max-width: 368px) {
.buttonAdd {
width: 30px;
height: 30px;
}

.buttonAddSome {
width: 30px;
height: 30px;
}
}

@media screen and (min-width: 369px) and (max-width: 500px){
.buttonAdd {
width: 35px;
height: 35px;
}

.buttonAddSome {
width: 35px;
height: 35px;
}
}
