.inputSearch {
  width: 600px;
  margin-top: 25px;
  opacity: 50%;
}

@media screen and (min-width: 368px) and (max-width: 767px) {
.inputSearch {
  width: calc(100% - 40px);

  margin-top: 25px;
  opacity: 50%;
}
}

@media screen and (max-width: 367px) {
.inputSearch {
  width: calc(100% - 15px);

  margin-top: 25px;
  opacity: 50%;
}
}